html{
	height : 100%;	
}

body{
    padding: 0;
	height:  100%;
	margin: 0;
	font-size: 14px;
}

/*
* Directives
*/

.qrCodeDirective{
	text-align: center;
}

.qrCodeDirective ul{
	list-style: none;
}

.qrCodeDirective img{
	margin: auto;
}