<div id="qrCodeDiv" class="visible-md visible-lg">
	<div class="page-header">
	  <h1>Choissisez votre connection réseau pour la scanner depuis votre téléphone <small>Cliquez sur une des interfaces</small></h1>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="thumbnail">
				<qrcodes></qrcodes>
			</div>
		</div>
	</div>
</div>
<div class="visible-xs visible-sm">
	<div class="page-header">
	  <h1>Rendez vous dans le menu pour choisir votre exprience ;)</h1>
	</div>
</div>